body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/public/image/fab.gif");
    background-size: 40px;
}

marquee {
    color: #09cdda;
    background-color:black;
}

marquee span {
    margin-left: 10px;
}

#star1{
    position: fixed;
    left:70vw;
    top:30vh;
    clip:rect(0px,50px,50px,0px)
}

#star2{
    position: fixed;
    left:30vw;
    top:70vh;
    clip:rect(0px,25px,50px,0px)
}

#globe {
    position:fixed;
    left:72vw;
    top: 14vh;
    width: 130px;
}

.main {
    width:1300px;
    border-style: dotted;
    border-width: 2px;
    border-color: #09cdda;
}
