body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/public/image/fab.gif");
    background-size: 40px;
}

marquee {
    color: #09cdda;
}

marquee span {
    margin-left: 10px;
}

.main {
    width:1300px;
    border-style: dotted;
    border-width: 2px;
    border-color: #09cdda;
}
