<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>digIT</title>
        <link rel="stylesheet" type="text/css" href="/public/css/index.css"/>
        <link rel="icon" href="/public/image/hacked_digit.gif" type="image/gif"/>
    </head>
    <body>
        <div  id="logo">
        <pre>
                                            
                      01100                 
                   100011010010             
                  110011101001001           
            0101 01000110010001101          
          001011001110100100101010          
         1000110010         001101          
        001011001          110100100        
     1010101000         11001000110100      
    10110011101             00100101010     
   10001100100               01101001011    
   00111010010               01010101000    
   110010001101              00101100111    
    010010010101           010001100100     
      01101001011001110100100101010100      
        011001000110100101100111010         
                                            
           0              100101010100      
       01100   1   00011  010   010         
       1   1   0  0    1  110   100         
       1   0   0  1    0  101   010         
       00 11   0   01000  110   100         
                       1                    
                   011                      
        </pre>
        </div>
        <div id="links">
            <a href="mailto:digit@chalmers.it">digit@chalmers.it</a> | <a href="https://slack.chalmers.it">#digit on slack.chalmers.it</a> | <a href="https://www.facebook.com/digitchalmers">Facebook</a> |  <a href="https://twitter.com/digITcth">Twitter</a> | <a href="https://github.com/cthit">GitHub</a>
            <div style="text-align: center;margin-top: 5px;"><a href="/members">Members</a> | <a href="https://findit.chalmers.it">Projects</a> | <a href="https://digit.chalmers.it/wiki">Wiki</a></div>
        </div>
        <div id="about">
            <h2>About us</h2>
            <p>digIT is the commitee responsible for managing and developing the digital systems of the IT programme</p>

            <p>Our services includes chalmers.it and various digital equipments in our student division premises. Most of our software development is hosted on <a href="https://github.com/cthit">Github</a>.</p>
            <p>Do you have any ideas for improvements or simply want to get in touch with us? Shoot us an email!</p>
        </div>
    </body>
</html>
